# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
build/
.idea/
cmake-build-debug/
cmake-build-release/
json/
disassembler/rc4
disassembler/target/
cmake-build-relwithdebinfo/
venv/

# Visual Studio 2015/2017 cache/options directory
.vs/
*.user
.vscode/

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Execution Traces
*trace.txt
!CMakeLists.txt


# Latex
papers/*/main.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Disassmebler
target/

BinaryDB/.DS_Store
result.txt
Function.txt
Inst_data.txt
Pintools/obj-ia32
pin_kit
